#about {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/Liquid-Cheese.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

.content-about {
    padding: 5%;
    width: 80%;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
img {
    height: 400px;
}
}