footer {
    padding: 5%;
    text-align: center;
    background-image: url('../img/Liquid-Cheese.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}