#gallery {
    padding: 5%;
h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 4%;
}
.container-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 5rem;
}
img {
    height: 250px;
}
}